<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-android-env-tools" version="1.2.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-android-env-tools</name>
    <description>Cordova Android environment tools plugin</description>
    <author>Lichao sun</author>
    <license>Apache-2.0</license>
    <keywords>cordova,ecosystem:cordova,cordova-android,plugin,environment, mediascanner,
        notification setting</keywords>
    <repo>https://github.com/dejiren/cordova-plugin-android-env-tools</repo>
    <issue>https://github.com/dejiren/cordova-plugin-android-env-tools/issues</issue>
    <!-- expose our API under navigator.Env -->


    <engines>
        <engine name="cordova" version=">=7.0.0" />
        <engine name="cordova-android" version=">=6.3.0" />
    </engines>

    <!-- android -->
    <js-module name="Env" src="www/env.js">
        <clobbers target="cordova.plugins.androidEnv" />
    </js-module>
    <js-module name="NotificationManager" src="www/notificationManager.js">
        <clobbers target="cordova.plugins.androidNotificationManager" />
    </js-module>
    <js-module src="www/MediaScannerPlugin.js" name="MediaScannerPlugin">
        <clobbers target="cordova.plugins.androidMediaScanner" />
    </js-module>
    <js-module src="www/permissions.js" name="Permissions">
        <clobbers target="cordova.plugins.androidPermissions" />
    </js-module>


    <platform name="android">
        <!-- env-->
        <config-file target="config.xml" parent="/*">
            <feature name="Env">
                <param name="android-package" value="org.adaptit.cordova.environment.Env" />
            </feature>
        </config-file>
        <source-file src="src/android/Env.java" target-dir="src/org/adaptit/cordova/Env" />
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>

        <!-- Permissions-->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Permissions">
                <param name="android-package" value="com.android.plugins.Permissions" />
            </feature>
        </config-file>

        <source-file src="src/android/Permissions.java"
            target-dir="src/com/android/plugins" />

        <!-- NotificationManager-->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NotificationManagerPlugin">
                <param name="android-package" value="su.scat.calltaxi.NotificationManagerPlugin" />
            </feature>
        </config-file>
        <source-file src="src/android/NotificationManagerPlugin.java"
            target-dir="src/su/scat/calltaxi/" />

        <!-- MediaScannerPlugin-->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MediaScannerPlugin">
                <param name="android-package"
                    value="br.com.brunogrossi.MediaScannerPlugin.MediaScannerPlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/MediaScannerPlugin.java"
            target-dir="src/br/com/brunogrossi/MediaScannerPlugin" />

    </platform>

</plugin>